.card-container {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 47%;
    border-radius: 5px;
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
}