.btn {
    padding: 10px;
    margin: 5px;
    flex: 1;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    min-width: var(--btn-width-primary);
}

.btn-cancel {
    background-color: var(--color-danger);
    color: var(--color-text-warning);

}

.btn-success {
    background-color: var(--color-primary);
}
.btn-warning{
background-color: orange;
}